
.tudo {
    display: flex;
    justify-content: center;
}

.arrumou {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mao {
    width: 15%;
    padding: 18px 13px;
    height: 35%;
    border: 1px solid white;
    border-radius: 99px;
    box-shadow: 0px 0px 10px #00000069;
    z-index: 1;
    background-color: white;
}

.texto {
    text-align: center;
    border: 2px solid #39FF14;
    border-radius: 20px;
    padding: 50px 10px 38px 10px;
    margin: -30px;
    background-color: white;
    z-index: -1;
    color: #107266;
    transition: 0.5s;
}

.link {
    text-decoration: none;
}

.texto:hover {
    color: rgb(255, 255, 255);
    transition: 0.5s;
    background-color: #107266;
}