body {
    background-color: beige;
}

.row {
    display: flex;
    justify-content: center;
}

.col-principal {
    border: 1px none;
    background-color: aquamarine;
    border-radius: 30px;
    padding: 30px;
}

.col {
    padding-top: 10px;
}